# Configurações do banco de dados
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=helpdesk_db
PORT=3000

# Chave secreta para JWT
JWT_SECRET=chave_secreta_do_jwt

# Preencha apenas ao executar npm run admin:create.
ADMIN_NAME=NOME_ADM
ADMIN_EMAIL=EMAIL_ADM
ADMIN_PASSWORD=SENHA_ADM
